# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Kuliah\SEMESTER 4\PEMROGRAMAN 7\TUGAS\MINIPROJECT_KEL09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
